body {
    padding:0;
    margin:0}

.title-header{
    margin-top:0;
    color: white;
    background-color:#686aac;
    height:200px;
    display:flex;
    justify-content:center;
    flex-direction:row;
    width:100%;
    align-items: center;
}

.about {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 60%;
}

.about img{
    width:200x;
    height:200px;
    border-radius: 50%;
}

.about h2{
    font-weight:900;
    font-size:26px;

}

.about p{
    font-weight:300;
    font-size:18px;

}

.aprendizados h1 {
    color: #686aac;
    width:100%;
    height:150px;
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    font-weight: bold;
}

.redes {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.redes img {
    height:50px;
    margin:10px auto;
}

.card-container{
    margin:50px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;width:60%;
    align-items:center;
    baseline:center;
}


.card{
    width:400px;
    height:500px;
    margin-bottom:20px;


}
.card img{
    width:420px;
    height:250px
}

.card h3 {
    /* background-color: red; */
    font-weight:300;
    font-size:23px;
    font-weight: bold;
}

.card p {
    font-weight:300;
    font-size:20px;
}



.footer{
    background-color:#686aac;
    height:100px;
    display:flex;
    justify-content:center;
    flex-direction:row;
    width:100%

}
.footer p{
    padding-top:30px;text-align:center;color:#fff;font-size:16px
}
hr{
    width:50%;color:#636363
}


body{
    margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}

.code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace

} 